:root {
    --color-red: #cc0000;
    --color-yellow: #ffde00;
    --color-darkgrey: rgb(49, 49, 43);
    --color-black: #000;
    --color-white: #eee;
  }

  .mainButton {
    background-color: #cc0000;
    text-decoration: none;
    text-align: center;
    color: aqua;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-property: opacity;
  }