    :root{
        --primary-color:rgb(212,106, 106);
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.5rem 0;
        color: rgb(87, 6, 6);
    }

    body {
        font-family: 'Fredoka', sans-serif;
        background-color: rgb(212,106,106);
        color:var(--primary-color);
        font-size: 1.5rem;
    }

    h1 {
        text-align:center;
        padding:10px;
        font-size: var(--big-font);
        font-weight: 700;
    }
    
    h2 {
        font-size: var(--medium-font);
        font-weight: 400;
    }
    
    h3 {
        font-size: var(--h5-small-font);
        text-transform: uppercase;
        font-weight: 400;
    }
    
    
    p {
        text-align:center
    }

    #loading__message {
        padding: 6rem 0;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .logo__img {
        width: auto;
        padding: 1rem;
    }

    .pokemon-modal-image{
        width:auto
    }

    button.btn-primary{
        text-transform: capitalize;
        margin:10px;
        min-width:200px;
        border-radius: 50px;
        color: rgb(107, 4, 4);
        
    }

    button.btn-primary:hover {
        border-color: rgb(30, 66, 167);
        background-color: rgb(252, 208, 13);
        color: rgb(37, 39, 201);
        font-weight: 700;
    }

    @keyframes vibrate-1 {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translate(-2px, 2px);
        }
        40% {
            transform: translate(-2px, -2px);
        }
        60% {
            transform: translate(2px, 2px);
        }
        80% {
            transform: translate(2px, -2px);
        }
        100% {
            transform: translate(0);
        }
    }

    @media all and (max-width: 500px) {
        h1 {
            font-size: 22px;
            }
            h3 {
                font-size: 10px;
                }
        }